# Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/data/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/data/.gitkeep
/build/
/vendor/
/bin/
web/css/*.css


# Node.js
node_modules/
npm-debug.log


# SASS
.sass-cache
